*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(226, 225, 225);
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
     background-color: white;
    height: 8vh;
}
.logo i{
    color: blue;
    font-size: 2rem;
}
.logo a{
    text-decoration: none;
    font-size: 2rem;
    
}
.option a{
    text-decoration: none;
    margin:10px;

}
.option a:nth-of-type(1)
{
    color: blue;
}
.option a:hover{
    color: blue;
}
.icon img{
     height: 2rem;
      border-radius: 50%;
      margin: 10px;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.icon i{
    margin: 10px;
    color: grey;
}
.optiongrid{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    background-color: white;
    height: 8vh;
    border-radius: 10px;
    
}
.optiongrid i{
    color: blue;
    
}
.space a{
    border:.5px solid rgb(199, 195, 195);
    margin: 10px;
    text-decoration: none;
    color: blue;
    border-radius: 5px;

    
}
.space{
    cursor:text;
}
button{
    height: 8vh;
    background-color: blue;
    border-color: white;
    color: white;

}
.optiongrid div:nth-of-type(6){
    border-radius: 10px;
}
.navigation{
    background-color: white;
    width: 200px;
}
.tough{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}
.grid div img{
    height:50px;
    border-radius:10px;
}
.grid a{
    text-decoration: none;
    background-color: beige;
    color: rgb(24, 24, 243);
}
.grid div {
    margin: 4px;
    background-color: white;
    border-radius: 10px;padding: 10px;
}
.grid button{
    border-radius: 10px;
    padding: 5px;
}
.grid div a{
    color: blue;
}
.grid div:hover{
    transform: scale(1.02);
}
.createjob{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}
.navigation{
    padding: 20px;
}
.navigation pre{
    line-height:30px ;
}
.navigation button{
    padding: 5px;
    border-radius: 10px;
    height: 2rem;
}
.optiongrid a{
    text-decoration: none;
    color:black;
}
.box div{
   display: flex;
   width: 300px;
   justify-content: space-between;
   background-color: white;
   padding: 10px;
   align-items: center;
   margin: 10px;

}
.box div div{
    display: flex;
    flex-direction: column;
}
.box div img{
    height: 2rem
}
#call{
    display: flex;
}



